@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    color: #069A8E;
}

.submit-button {

}

.submit-button {
    background-color: #345B63;
    color: #fff;
    font-size: 1.2vw;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #152D35;
}

.submit-button:focus {
    background-color: #D4ECDD;
    color: #152D35;
}

.current-tasks, .completed-tasks {
    width: 85%;
    padding: 20px 50px;
}

.tdFlex {
    display: flex;
    justify-content: space-around;
}

.task-controls {
    display: flex;
    justify-content: space-around;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.tasks-wrapper table {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tasks-wrapper table th {
    padding: 10px 0 10px 8px;
    text-align: left;
    background-color: #345B63;
    color: white;
}

.tasks-wrapper table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 0.95vw;
    color: #345B63;
    text-align: center;
}

.tasks-wrapper table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tasks-wrapper table tr:hover {
    background-color: #ddd;
}

.horizontal-list {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 10px 10px 10px;
}

.categories-wrapper{
    margin: 20px 60px;
}

.task {
    font-family: 'Ubuntu', sans-serif;
}

.task .control {
    display: flex;
    float: right;
}

.task .control * {
    margin: 0 2px;
}

.add-category {
    margin: 20px 0 40px 60px;
    max-width: 200px;
}

.add-category form {
    display: flex;
    align-items: flex-end;
}


.add-category form label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
}

.add-category input {
    padding: 10px;
    font-size: 1.1vw;
}

.category-item {
    margin: 0 20px;
    display: flex;
    border: 2px solid #345B63;
    padding: 10px;
    align-items: center;
    position: relative;
}

.category-item button {
    margin: 0;
}

.category-item p {
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
}

.category-item * {
    margin: 0 5px;
}

.task-header {
    padding: 10px;
    border-bottom: 2px solid #A1E3D8;
}

.task-header h5 {
    color: #005555;
    font-size: 20px;
}

.task-header span {
    color: #069A8E;
    font-size: 15px;
}

.task-body {
    padding: 10px;
}

.category-filter form {
    margin: 20px 0 0 0;
}

.category-filter {
    margin: 20px 50px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.category-filter select {
    padding: 10px;
    background-color: #fff;
}

.category-filter input[type="submit"] {
    color: #152D35;
    font-size: 1.1vw;
    background-color: #fff;
    border: 1px solid #152D35;
    height: 100%;
    padding: 0 10px;
}

.category-filter input[type="submit"]:hover {
    background-color: #B6D6E7;
}

.add-task {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.add-task form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.add-task select {
    padding: 10px;
    background-color: #fff;
}

.add-task form input {
    padding: 10px;
    border: 1px solid #345B63;
}

.add-task form p {
    margin-bottom: 5px;
}

.add-task form *[type="submit"] {
    background-color: #345B63;
    color: #fff;
    font-size: 1.2vw;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.add-task form *[type="submit"]:hover {
    background-color: #152D35;
}

.add-task form *[type="submit"]:focus {
    background-color: #D4ECDD;
    color: #152D35;
}

.add-task form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.active, .expired {
    float: right;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}

.active {
    background-color: #6EC247;
}

.expired {
    background-color: #C14644;
}

.delete-button {
    color: #C14644;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
    margin-left: 40px;
    background-color: inherit;
}

.set-done-button {
    color: #2C6F25;
    background-color: inherit;
    border: 1px solid #2C6F25;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 10px;
    height: 2.3vw;
    font-size: 1.1vw;
}

.set-done-button:hover {
    background-color: #AFE4B0;
    transition: 0.2s;
}

.setNotDoneButt {
    color: #C14644;
    background-color: inherit;
    border: 1px solid #C14644;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 10px;
    height: 2.3vw;
    font-size: 1.1vw;
}

.setNotDoneButt:hover {
    background-color: #E3AEAB;
    transition: 0.2s;
}


.edit-button {
    color: #86642D;
    background-color: inherit;
    border: 1px solid #86642D;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 10px;
    height: 2.3vw;
    font-size: 1.1vw;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.edit-button:hover {
    background-color: #DFD39F;
}

.tasks-wrapper table .task-name {
    color: black;
    font-size: 1.15vw;
    text-align: left;
    width: 30%;
}

.delConfirmationTask {
    display: none;
    width: 150px;
    border: 2px solid #DBA994;
    color: #913230;
    position: absolute;
    right: -160px;
    bottom: -5px;
    font-family: 'Ubuntu', sans-serif;
}

.delConfirmationCategory {
    display: none;
    width: 150px;
    border: 2px solid #DBA994;
    color: #913230;
    position: absolute;
    bottom: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.delConfirmationShow {
    display: block;
}

.delConfirmationShow form {
    display: flex;
    justify-content: space-evenly;
}

.delDecline {
    font-size: 1.2vw;
    color: #4F7E2A;
    cursor: pointer;
}

.delAccept {
    font-size: 1.2vw;
    color: #913230;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.text-danger {
    color: #913230;
}

.add-task form input.input-validation-error {
    border: 2px solid #913230;
}

.sourceChanger {
    margin-left: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #345B63;
    color: #fff;
    padding: 5px 30px;
    height: 70px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}

.navigation {
    display: flex;
    margin-left: 50px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    color: #fff;
    padding: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 0.2s
}

.navigation li a:hover {
    color: #fff;
    padding: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    transition: 0.2s
}

a.navbar-logo {
    font-size: 1.6vw;
    color: #fff;
    transition: 0.2s
}

a.navbar-logo:hover {
    color: #B6D6E7;
    transition: 0.2s
}